body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #F2CC8F url(blackgoose.png) no-repeat center 100px fixed;
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background: rgba(244, 241, 222, .5) url(purpledot.png) repeat-x center top;
  background:
    url(purpledot.png) left top repeat-y,
    url(purpledot.png) right top repeat-y,
    url(gooseshadow.png) 90% bottom no-repeat;
  background-color: rgba(244, 241, 222, .5);
}

a {
text-decoration: none;
color:#6C0E23;
transition: color, background-color, 0.3s;
}
a:visited {
color:#3E0A16;
}
a:hover {
color:#A5223F;
background-color:#fff;
}
a:active {
color:#C4143B;
}

h1 {
font: bold 1.5em Georgia, serif;
text-shadow: .1em .1em .2em gray;
color:#6C0E23;
}
h2 {
font-size: 1em;
text-transform: uppercase;
letter-spacing: .5em;
text-align: center;
color:#6C0E23;
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}
